html {
    background-color: #617140;
}

body {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* header-section-start */

header {
    padding: 50px;
    padding-bottom: 0;
    color: #fff;
}

header h1 {
    font-weight: normal;
    font-size: 165%;
    margin: 0;
}

header p {
    font-size: 90%;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.site-nav {
    margin-top: 30px;
}

.site-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    margin-right: 5px;
}

.site-nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #303821;
}

.site-nav a:hover {
    background-color: #38461e;
}

@media screen and ( max-width: 480px ) {
    header h1 {
        text-align: center;
    }
    header p {
        text-align: center;
    }
    .site-nav ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .site-nav li {
        margin-bottom: 20px;
    }
}


/* header-section-end */



/* bars-section-start */

.bars {
    display: flex;
    background-color: #fff;
    margin-top: 12px;
}

.bars .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-bar {
    flex-basis: 65%;
    margin-right: 10px;
    text-align: justify;
}

/* .main-bar img {
    max-width: 100%;
    display: block;
}

.tagline {
    position: relative;
}

.tagline-des {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    box-sizing: border-box;
} */

.sidebar {
    flex-basis: 30%;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}

.sidebar img {
    max-width: 100%;
    display: block;
}

.sidebar-des {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
}

.sidebar-des p {
    margin: 0;
}

@media screen and ( max-width: 480px ) {
    .bars .container {
        flex-direction: column;
        padding: 10px 20px;
    }
}

@media screen and ( max-width: 700px ) {
    .bars .container {
        flex-direction: column;
        padding: 10px 20px;
    }
}

/* .info-box {
    background-color: #EFEEDB;
    padding: 10px 20px;
    border: 5px solid gray;
    box-sizing: border-box;
} */

/* bars-section-end */
